<div id="search-component" class="mb-4 px-4 sm:pl-12 md:inline-block md:w-1/2 md:m-8">
  <input
    class="max-w-xl w-full rounded-t-sm py-1 px-2 text-xl border-2 focus:border-[#34A59B] focus-visible:outline-none"
    type="search"
    id="inputSearch"
    placeholder="Busca por nombre..."
    #searchBox
    (input)="search(searchBox.value)"
  >
  <ul class="search-result max-w-xl w-full rounded-b-sm bg-white">
    <li *ngFor="let hero of heroes$ | async">
      <a routerLink="/detail/{{hero.id}}"
      class="block py-1 px-2 w-full hover:bg-[#34A59B]">
        {{hero.name}}
      </a>
    </li>
  </ul>
</div>
