body{
    text-align: -webkit-center;
    background-image: url('https://i.pinimg.com/originals/77/42/0d/77420df3f9e33db5b79ee25455d3340e.png');
    font-family: system-ui;
}
/*FORMULARIO*/
.titulo{
    align-items: center;
}
.texto{
    margin-bottom: 8px;
}
.form{
    align-items: center;
    border: solid;
    border-radius: 5%;
    border-width: 5px;
    border-color: grey;
    padding: 30px;
    padding-top: 0px;
    margin: 15px;
    width: 500px;
    background-color: white;
}
.boton{
    margin-top: 15px;
    border-radius: 8%;
    border-width: 1px;
}
.boton:hover{
    background-color: rgb(0, 117, 255);
    
}
.inputRange{
    margin-left: 10px;
    margin-right: 10px;
}